@font-face{
    font-family:"Avenir";
    src:url("Fonts/1475508/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("Fonts/1475508/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff");
}

body {
    text-align: center;
    margin: 0px;
    font-family: "Avenir";
    background-color: #ffd;
    font-size: 12px;
}

.about {
    padding: 0px;
}

.links {
    padding: 10px;
    word-spacing: 10px;
}

.header {
  background-color: GhostWhite;
  width: 300px;
  border: 15px GhostWhite;
  padding: 50px;
  margin: 20px;
}
